function Class_method.action 0
push argument 0
pop pointer 0
push constant 0
return
function Class_method.main 0
push argument 0
pop pointer 0
push pointer 0
call Class_method.action 1
pop temp 0
push constant 0
return
